
--exclude Pods
--exclude videoap/Classes/Swifty/Extensions/String+Extension.swift

# options
--elseposition next-line
--header "\nCopyright (c) {year} Shinren Pan\n"
--self init-only
--semicolons never
--stripunusedargs closure-only
--funcattributes same-line
--typeattributes prev-line
--varattributes same-line
--swiftversion 5.6

# rules
--rules anyObjectProtocol
--rules blankLinesAtEndOfScope
--rules blankLinesAtStartOfScope
--rules blankLinesBetweenScopes
--rules braces
--rules consecutiveBlankLines
--rules consecutiveSpaces
--rules duplicateImports
--rules elseOnSameLine
--rules emptyBraces
--rules fileHeader
--rules hoistPatternLet
--rules linebreakAtEndOfFile
--rules linebreaks
--rules modifierOrder
--rules redundantBreak
--rules redundantExtensionACL
--rules redundantFileprivate
--rules redundantGet
--rules redundantInit 
--rules redundantNilInit 
--rules redundantLetError 
--rules redundantParens 
--rules redundantPattern 
--rules redundantPattern 
--rules redundantSelf
--rules semicolons
--rules sortImports 
--rules spaceAroundBraces 
--rules spaceAroundBrackets 
--rules spaceAroundComments 
--rules spaceAroundGenerics 
--rules spaceAroundOperators 
--rules spaceAroundParens 
--rules spaceInsideBraces 
--rules spaceInsideBrackets 
--rules spaceInsideComments 
--rules spaceInsideGenerics 
--rules spaceInsideParens 
--rules strongOutlets 
--rules strongifiedSelf 
--rules todos
--rules unusedArguments
--rules wrapEnumCases
--rules wrapAttributes
